body {	
	background: #eee;
	color: #555
}

.icon.icon-pink {
	color: #e91e63
}

.icon.icon-blue {
	color: #3f51b5
}

.icon.icon-orange {
	color: #ff5722
}

.icon.icon-brown {
	color: #795548
}

.icon.icon-grey {
	color: #607d8b
}

.description h1,
.description h2,
.description h3,
.description h4 {
	color: #555;
	margin-top: 20px
}

pre.prettyprint{
	font-size: 0.8em;
	line-height: 24px;
	background: #263238 !important
}

.copyright a {
	border-bottom: 1px dashed #bababa !important
}

.timeline{
    position:relative;
    z-index:1;
	margin-top: -30px
}

.timeline:before{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100%;
    left:1px;
    top:0;
    border-right:1px solid #9c27b0;
    z-index:-1;
} 

.timeline .date-title{
    text-align:center;
    margin:70px 0 50px;
}

.timeline .date-title span{
    padding:15px 30px;
    font-size:21px;
    font-weight:400;
    color:#fff;
    background:#9c27b0;
    border-radius:5px;
}

.project-item {
    padding-bottom:45px;
}

.project-item.right {
    float:right;
    margin-top:40px;
}

.project-item .project-content {
    margin:20px 30px 0 0;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#fff;
    border-radius:10px;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.project-item.right .project-content {
    margin:20px 0 0 30px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
}

.project-item .project-content:after {
    display:block;
    content:"";
    position:absolute;
    top:50px;
    right:-40px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #fff;
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.project-item.right .project-content:after {
    position:absolute;
    left:-40px;
    right:auto;
    border-left:20px solid transparent;
    border-right:20px solid #fff;
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.project-item .project-content:before {
    display:block;
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    right:-55px;
    top:60px;
    background:#9c27b0;
    border:3px solid #fff;
    border-radius:50%;
    -webkit-transition:background .3s ease-out;
    transition:background .3s ease-out;
}

.project-item.right .project-content:before {
    left:-55px;
    right:auto;
}

.project-content .date {
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
    text-align:center;
    color:#9c27b0;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

.project-content .date p{
    margin:0;
    font-size: 38px;
    font-weight: 400;
    line-height:48px;
}

.project-content .project-title{
    padding-top:0px;
    padding-bottom:0px;
	border: none;
    text-align: left;
    margin-bottom: 4px;
}

.project-content p{
    font-size:16px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.02em;
    margin-bottom:10px;
}

.project-content span{
    color: #999
}

.project-content .read-more,
.project-content .read-more:hover,
.project-content .read-more:active,
.project-content .read-more:focus{
    padding:10px 0;
    text-decoration:none;
    font-size:16px;
    color:#999;
    line-height:24px;
}

.project-content .read-more{
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.project-content .read-more:hover {
    padding-left:7px;
}

.project-content .read-more:after{
    content:'\f054';
    padding-left:15px;
    font-family:'FontAwesome';
    font-size:21px;
    line-height:21px;
    color:#9c27b0;
    vertical-align:middle;
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.project-content .read-more:hover:after{
    padding-left:20px;
}

.navbar input {
	top: 8px
}

.search a h4 {
	background: #fff;
	color: #555;
	padding: 10px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.search a h4 i {
	color: #bababa;
}

.search a h4:hover,
.search a h4:focus {
	background: #9c27b0;
	color: #fff;
}

.profile-page .header {
	height: auto
}

.profile-page .profile {
	margin-top: 100px
}

.profile-page .post,
.profile-page .content {
	margin: 0px
}

.profile-page .profile img {
  margin: 0px auto 0;
}

.findme-area{
    margin-top: 50px;
}
.findme-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
	width: 80px
}
.findme-area .btn i{
    font-size: 18px;
    margin-right: 5px;
	padding: 0px
}

.findme-area .btn-linkedin{
    background-color: #00a0dc;
}

.findme-area .btn-twitter{
    background-color: #55acee;
}

.findme-area .btn-facebook{
    background-color: #3b5998;
}

.findme-area .btn-google-plus{
    background-color: #dd4b39;
}

.findme-area .btn-youtube{
    background-color: #f44336;
}

.findme-area .btn-github{
    background-color: #333333;
}

.findme-area .btn-codepen{
    background-color: #212121;
}

.findme-area .btn-instagram{
    background-color: #ec407a;
}

.findme-area .btn-soundcloud{
    background-color: #ff7700;
}

footer.footer,
footer.footer a {
	color: #999;
}

footer .heart {
	color: #e44;
}

.btn-tag {
	margin: 0px
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}

b,strong {
	font-weight: normal
}

a, a:hover, a:active, a:focus {
   outline: 0;
   text-decoration: none
}

iframe {
    border: none;
}

.filters {
    background-color: #fff;
    height: 45px;
    content: '';
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    width: 100%!important;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8e8e8
}

.filters ul {
	margin-bottom: 30px;
    position: relative;
    max-height: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.filters li {
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    color: #bababa;
    padding: 12px 15px;
    text-transform: uppercase;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
}

.filters li:hover,.filters li.active {
    background-color: rgba(0,0,0,.3);
	color: #fff
}

.gallery .filter-section {
    text-align: center;
    position: relative;
    z-index: 10;
    margin-top: -45px;
    margin-bottom: 30px;
}

.wall,
.gallery,
.code {
	margin-top: 100px;
	background: #eee
}

.grid {
    padding: 0;
    margin: 0;
    list-style: none;
}

.work figure {
	overflow: hidden;
	margin-bottom: 30px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	position: relative;
	border-radius: 4px;
	height: 400px;
}

.code .work figure {
	border: 5px solid #263238
}

.work figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	padding-top: 40px;
}

.gallery .work figcaption {
	background: rgba(38,50,56,.9);
	text-align: center;
}

.code .work figcaption {
	background: rgba(38,50,56,.9);
}

.code .work figcaption:hover {
	background: none;
}

.code .work figcaption p {
	color: #fff;
	padding: 10px;
	font-size: 1.4em;
	opacity: 1
}

.code .work figcaption:hover p {
	opacity: 0
}

.gallery .work figcaption p {
	opacity: 0
}

.gallery .work figcaption:hover p {
	opacity: 1
}

.gallery .work figcaption h3 {
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
	color: #fff;
	padding: 10px;
}

.gallery .work figcaption .divider {
	background: #f44336;
	width: 70px;
	height: 2px;
	margin: 15px auto;
	-webkit-transition: opacity .1s,-webkit-transform .1s;
	transition: opacity .1s,transform .1s;
}

.gallery .work figcaption p {
	padding: 0 35px;
	font-size: 1.2em;
	line-height: 28px;
	color: #fff;
	-webkit-transition: opacity .3s,-webkit-transform .3s;
	transition: opacity .3s,transform .3s;
}

.gallery .work figcaption h3,
.gallery .work figcaption p,
.gallery .work figcaption .divider {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.work figure .button {
	position: absolute;
	border: none;
}

.gallery .work figure .button {
	-webkit-transition: opacity .2s,-webkit-transform .2s,background .1s;
	transition: opacity .2s,transform .2s,background .1s;
	text-transform: uppercase;
}

.work figure iframe,
.work figure .papan {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.gallery .work figcaption,
.gallery .work figcaption h3,
.gallery .work figcaption p,
.gallery .work figcaption .divider .work figure .button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery .work svg {
	position: absolute;
	top: -1px;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.gallery .work svg path {
	fill: #fff;
}

.gallery .work:hover figcaption h3,
.gallery .work:hover figcaption p,
.gallery .work:hover figcaption .divider {
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}

.gallery .work:hover figcaption .divider {
	opacity: 0;
}

.gallery .work figcaption p {
	-webkit-transition-delay: .05s;
	transition-delay: .05s;
}

.work figure .button {
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	background: #f44336;
	color: #fff;
	text-align: left
}

.code .work figure .button {
	padding: 10px;
	background: #263238;
	color: #999999
}

.gallery .work figure .button {
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.work figure .button i,
.btn i {
	margin-right: 5px;
}

.gallery .work:hover figure .button {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.gallery .work figcaption h3,
.gallery .work figcaption p {
	-webkit-transition-timing-function: cubic-bezier(.25,.25,.115,1.445);
	timing-function: cubic-bezier(.25,.25,.115,1.445);
}

.gallery .work:hover figcaption p {
	-webkit-transition-delay: 0;
	transition-delay: 0;
	-webkit-transition-duration: .1s;
	transition-duration: .1s;
}

.gallery .row:last-child {
	text-align: center;
	padding-bottom: 30px;
}

.hashtags {
    padding-top: 20px;
}

#naek {
    position: fixed;
    right: 0;
    bottom: 110px;
    display: none;
    z-index: 100;
}

.post {
    background-color: #fff;
    margin-bottom: 30px;
	font-size: 1.2em;
	line-height: 28px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.CodeMirror {
	border: none
}

.post .CodeMirror {
	font-size: 0.8em;
	line-height: 24px;
}

.content {
    position: relative;
    z-index: 10;
    padding: 0 30px 30px;
    overflow: hidden;
    margin-bottom: 30px
}

.wall .navbar {
	border-radius: 3px 3px 0px 0px;
	margin: 0px;
	padding: 0px;
}

.wall h1,.wall h2,.wall h3 {
    margin: 0 -30px 20px -30px;
    padding: 30px
}

.wall h1,.wall h2,.wall .post h3 {
	border-bottom: 1px solid #eee;
}

.tools {
	margin-top: 60px;
	text-align: center
}

.content h3 a {
    color: inherit;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
}

.content h3 a:hover {
    color: #1e2327;
}

.content p,.post p, .post li, .post .description {
    padding-top: 10px;
}

.post a>img {
    max-width: 100%;
}

.post .details {
    padding: 0px;
}

.post .details li {
    padding-right: 10px;
}

.post .details li:last-child {
    padding-right: 0;
}

.post .details a, 
.text-muted, 
.text-muted a {
    color: #999;
	font-size: 12px;
	font-family: Georgia,serif;
	font-style: italic;
	font-weight: normal
}

.post .details .pull-right a i,
.post .details a:hover {
    color: #666;
}

.post .details i {
    padding-right: 5px;
}

.post a>img,.post>img {
    width: 100%;	
	-webkit-border-radius: 4px 4px 0px 0px; 
	-moz-border-radius:  4px 4px 0px 0px; 
	border-radius: 4px 4px 0px 0px;
}

aside {
	padding: 10px;
    background-color: #fff;
    margin-bottom: 30px;
	font-size: 1.2em;
	line-height: 28px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

aside ul {
    color: #999
}

aside a {
    border-bottom: 1px dashed #bababa;
	color: #999
}

.wall aside h3 {
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.small-post {
    margin-bottom: 8px;
    padding-top: 10px;
    display: block;
    overflow: hidden;
    *overflow: visible;
    border-top: 1px solid #eee;
	padding-left:14px;
	padding-right:14px
}

.small-post img {
    float: left;
    width: 45px;
    height: 45px;
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
}

#gt_comit,
#gt_iis {
	color: #999;
}

#gt_comit a,
#gt_iis a {
	color: #4078c0;
}

.card.card-plain .content {
	padding: 0px;
	padding-top: 20px;
	margin: 0px
}

.card.card-plain .content h4 {
	margin-top: 0px;
	padding-top: 0px;
	text-transform: capitalize
}

.card-nav-tabs.card-plain,
.card.card-plain .header {
	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0px
}

@media (min-width:320px)and (max-width:767px) {
	.footer .menu-bottom {
		text-align: center;
		float: none !important;
		width: 100%;
	}
  
	.logo-container .logo{
		margin-left: 20px
	}

    .buled {
        width: 60%;
    }

    .grid>li {
        width: 100%;
    }
	
	.post h1,
	.timeline h2,
	.project-content .date p {
		font-size: 2em;
		line-height: 1.4em;
	}

	pre.prettyprint{
		overflow: auto !important
	}
}

@media (min-width:320px)and (max-width:991px) {
	.labs img.icon {
		width: auto !important;
		float: normal !important;
		margin-right: 0px !important;
		display: block !important;
	}
	.labs h1 {
		clear: left !important;
		padding-left: 0px !important;
		padding-top: 20px !important;
	}
	.apps a img {
		width: 200px
	}
    .filters ul {
        max-height: 100%;
    }
}

@media (min-width:768px)and (max-width:1199px) {
    .post .details li {
        padding-right: 10px;
    }

    .post .details i {
        padding-right: 3px;
    }

    .small-post img {
        margin-right: 15px;
    }
}