#shirt .clearfix .btn {width:40px;padding:10px;border-radius:0px}

#shirt .color-preview {
	border: 1px solid #CCC;
	margin: 2px;
	zoom: 1;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
}

#ts-bcolor {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.img-polaroid {
	cursor: pointer;
	width: 100px
}

#shirt .rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#shirt #ts-bcolor {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#shirt #texteditor,
#shirt #imageeditor,
#shirt #curverdText {
	display: none
}

#shirt .Arial {
	font-family: "Arial";
}

#shirt .Helvetica {
	font-family: "Helvetica";
}

#shirt .MyriadPro {
	font-family: "Myriad Pro";
}

#shirt .Delicious {
	font-family: "Delicious";
}

#shirt .Verdana {
	font-family: "Verdana";
}

#shirt .Georgia {
	font-family: "Georgia";
}

#shirt .Courier {
	font-family: "Courier";
}

#shirt .ComicSansMS {
	font-family: "Comic Sans MS";
}

#shirt .Impact {
	font-family: "Impact";
}

#shirt .Monaco {
	font-family: "Monaco";
}

#shirt .Optima {
	font-family: "Optima";
}

#shirt .HoeflerText {
	font-family: "Hoefler Text";
}

#shirt .Plaster {
	font-family: "Plaster";
}

#shirt .Engagement {
	font-family: "Engagement";
}